nav{
	position : relative;
	background-color: #e1e1e1;
	padding: 12px 20px 12px 20px;
}

nav li:hover{
	background-color: #000000;
}

a: hover{
	background-color: #dddddd;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: auto;
}

li{
	display: inline;
	padding-right: 50px;
	float: left;
}

#title{
	font-weight: 50px;
	font-size: 2.5em;
}

input[type=text] {
    width: 50px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 20px 12px 20px;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 75%;
}

a{
	text-decoration: none !important;
}

a:visited{
	color: blue;
}

h1{
	text-align: center;
	color: white;
}

.container{
	margin: 0px 200px 0px 200px;
}

.body{
	background-image: url(explosion.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
}
select{
	width: 110px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 20px 12px 20px;
    transition: width 0.4s ease-in-out;
}
.sideBySide{
	float: left;

}

*{
	font-family: 'Roboto', sans-serif;
}
p {
    transition:all 1s ease;
}

p:target {
    color:red;
    font-size:40px
}

.back_see{
	background-color: white;
	opacity: 0.5;
	display: transparent;
}
